*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  width: 100%;
  background-color: orange;
}

h1{
  text-align: center;
  width: 100%;
  font-size: 27px;
}

h2{
  text-align: center;
  width: 100%;
  color: white;
  padding: 20px;
  background-color: rgb(91, 29, 29);
}

.contenedor1{
  padding: 30px;
  color: #800000;
  background-color: gold;
}

.campos{
  border-radius: 10px;
  border: 1px #999 solid;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.contenedor2{
  width: 95%;
  margin: auto;
}

.contenedor2_1{
  width: 48%;
  float: left;
}

.contenedor2_2{
  width: 48%;
  float: right;
}

hr{
  border-bottom: 10px rgb(35, 7, 7) solid;
  border-top: 10px rgb(35, 7, 7) solid;
}

.negritas{
  font-weight: bolder;
}

p{
  border: 1px #800000 solid;
  padding: 10px;
  background-color: #800000;
  color: white;
  text-align: center;
}

#Enviar{
  background-color: rgb(54, 19, 16);
  color: white;
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border: 0px;
  cursor: pointer;
}


